/* Navbar */
.navbar-bg{
    background: linear-gradient(-180deg, rgb(206, 187, 244), rgb(246, 231, 181));
    position: sticky;
    top: 0;
    z-index: 999;
    font-weight: bold;
}

.navbar-link:hover{
    border: rgb(132, 72, 0) 1px;
    border-style:double;
    border-radius: 15px;
}

/* Body */
body{
    font-family: monospace;
}
main{
    padding: 50px 100px 10px 100px; /* Padding: Top, Right, Bottom, Left */
}
.btn-action{
    margin: 0px 10px 0px 10px;
    font-weight: bold;
}

/* Beranda */
.Logo{
    min-width: 300px; max-width: auto;
    min-height: 200px; max-height: auto;
}

/* Katalog */
.katalog{
    /* margin-top: 50px; */
}

/* Footer */
.footer-bg{
    background: linear-gradient(-180deg, rgb(206, 187, 244), rgb(246, 231, 181));
}